$primary-color: #1b194a;
$secondary-color: #534EE6;
$tertiary-color: #0074BF;
$dark-gray: #161616;
$black: #000000;

$font-logo: 'A Astro Space', 'Russo One', sans-serif;
$font-title: 'Russo One', sans-serif;
$font-text: 'Poppins', sans-serif;