@import "variables";



@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap'); //Fonte para Título
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap'); //Fonte para Subtítulo
@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2'); //Fonte para corpo de texto

*,
*::before,
*::after {
  box-sizing: border-box;
}

#__next {
  flex: 1 1 auto;
  height: 100%;
}

body,
html {
  margin: 0;
  height: 100%;
  background: $black;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2 {
  font-family: $font-title;
}


h3,
h4,
h5,
h6 {
  font-family: $font-title;
  color: $tertiary-color;
}

p {
  font-family: $font-text;
  text-align: inherit;
}

body > * {
  color: white;
}