@import "../styles/variables";


.header {
    /* // "d-flex flex-wrap justify-content-center py-3 mb-4 bg-dark" */
    display: flex !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    box-shadow: 0px 0px 15px 5px $black;
    background-color: $dark-gray;
}

.logo {
    // "d-flex align-items-center mb-md-0 me-md-auto text-decoration-none"
    display: flex !important;
    align-items: center !important;
    margin-bottom: 0 !important;
    margin-left: 2rem !important;
    margin-right: auto !important;
    text-decoration: none !important;
    color: $white;
    font-size: 1rem !important;
}
.logoImg {
    position: relative !important;
    max-height: 4rem;
    max-width: 4rem;
}

.nameDiv{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    min-width: fit-content;
    h1{
        font-size: 1rem;
        margin: 0;
    }
}

.nav {
    // "nav nav-pills"
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-top: 0 !important;
    margin-bottom: 0;
    margin-right: 1rem;
    list-style: none;
    align-content: center;
    font-family: $font-title;
    @media (max-width: 744px) {
        display: none;
    }
}

.navLink {
    // "nav-link"
    display: block;
    padding: 0.25rem 1rem;
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.15s ease-in-out;
}

.navLink:hover {
    // "nav-link:hover"
    color: $light-gray;
}

.menuToggle{
    display: none;
}

.hamburgerMenu{
    display: flex;
    min-width: 4rem;
    img{
        max-height: 3rem;
        max-width: 3rem;
        margin: auto 0;
        position: relative !important;
    }
    @media (min-width: 745px) {
        display: none !important;
    }
}

.menuNav{
    position: relative;
    bottom: 1rem;
    z-index: 99;
    background-color: $dark-gray;
    color: $offwhite;
    height: 100%;
    width: 50%;
    transition: 1.5s;
    ul{
        list-style: none;
        li{
            font-size: 1.25rem;
        }
    }
}

.blur{
    position: absolute;
    z-index: 98;
    top: 6rem;
    height: 93%;
    width: 100%;
    backdrop-filter: blur(5px);
}